.write{
    padding-top: 50px;
}
.writeform {
    position: relative;
}

.write-img {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}  
  
.write-formgroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
  }

.write-icon{
    width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.write-input{
    font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.write-text {
    width: 70vw;
    height: 40vh;
    font-family: inherit;
    font-size: 20px;
    margin-bottom: 30px;
}
.write-submit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }